* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #a774e6, #d0e095);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* INPUT */
.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-box button {
  padding: 10px 15px;
  background: #5c20bd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.filters button {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border: none;
  background: #a9bbde;
  cursor: pointer;
  border-radius: 6px;
}

ul {
  list-style: none;
}

li {
  background: #f1f5f9;
  margin: 8px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
}

@media (max-width: 480px) {
  .container {
    margin: 10px;
  }
}
